body {

background-color: white !important;
line-height: 1 !important;
}
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #A9A9A9;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
      background-color: #fff;;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background: linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.btn-primary:hover {
    color: #fff;
    background: linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));
    transition-delay: 0.4s
}
.img-product{
    width:259px;
    height:280px;
}